
@import url('https://fonts.googleapis.com/css?family=News+Cycle');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
/*branch*/
* {
  box-sizing: border-box;
  --responsive-nav-color: white;  /* color for links in responsive nav menu */
  --font-color: #383838;
  --border-color: #d3d3d3;
}

body {
  font-family: 'News Cycle', sans-serif;
}

body,
ul,
h1,
h2,
h3,
h4,
li {
  margin: 0;
  padding: 0;
}

.home-container {
  display: grid;
  grid-gap: 10px;
  width: 95%;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/********** Site Container *********/
/**********                *********/

.container {
  width: 90%;
  margin: auto;
  max-width: 1800px;
}

/********** Navigation **********/
/**********            **********/

header {
  width: 100%;
  max-width: 1500px;
  height: 75px;
  display: flex;
  align-items: center;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  max-width: 1400px;
  margin: auto;
}

.nav-ul_li {
  display: inline-block;
  width: 75px;
  height: 30px;
}

.nav-ul_li a {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 14px;
}

.nav-ul_li .log-in {
  border: 1px solid var(--border-color);
}

.sign-up {
  background-color: red;
  color: white;
}

.sign-up:hover {
  opacity: 0.5;
}

.log-in {
  color: #222222;
}

.log-in:hover {
  background-color: var(--border-color);
  color: white;
}

/********** Main Content Section Landing Page *********/
/**********                                   *********/

.page-heading {
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}
.page-heading h1:last-of-type {
  display: inline-block;
  border-bottom: 5px solid red;
}
.page-heading h3 {
  font-weight: lighter;
  margin: 30px 0;
}

.main-card {
  width: 100%;
  height: 80vh;
  border: 1px solid black;
  margin-bottom: 10px;
  background: center center no-repeat;
  background-size: cover;
}

.main-card_banner {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.main-card_banner_text {
  text-transform: uppercase;
  color: white;
  font-size: 29px;
  font-weight: bold;
  display: block;
  margin: 0 0 0 5px;
}

/********** Footer **********/

footer {

}
.footer-container {
  text-align: center;
  padding: 30px;
}
.footer-container h2 {
  border: 1px solid red;
  width: 30%;
  min-width: 225px;
  padding: 10px;
  margin: auto;
}


/********** Media Queries *********/
/**********               *********/

/** Max width **/

@media only screen and (max-width: 350px) {

  .nav-ul_li  {
    display: inline;

  }

  .page-heading {
    font-size: 14px;
  }
}

@media only screen and (max-width: 385px) {
  .nav-ul_li  {
    width: 50px;
  }
}

@media only screen and (max-width: 770px) {


}

@media only screen and (max-width: 1000px) {


}

@media only screen and (max-width: 1200px) {


}

/** Min width **/

@media only screen and (min-width: 350px) {

  .page-heading {
    font-size: 16px;
  }
}


@media only screen and (min-width: 770px) {

  .home-container {
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    margin: auto;
  }
  .main-card {
    min-height: 500px;
    height: 70vh;
    max-height: 800px;
  }
  .page-heading {
    font-size: 18px;
  }

}
@media only screen and (min-width: 1000px) {

  .home-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .page-heading {
    font-size: 20px;
  }

}

@media only screen and (min-width: 1200px) {

  .home-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .page-heading {
    font-size: 25px;
  }

}
@media only screen and (min-width: 1400px) {

  .home-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
