
@import url('https://fonts.googleapis.com/css?family=News+Cycle');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
  box-sizing: border-box;
  --responsive-nav-color: white;  /* color for links in responsive nav menu */
  --font-color: #383838;
  --border-color: #d3d3d3;
}

body,
ul,
h1,
h2,
h3,
h4,
li {
  margin: 0;
  padding: 0;
}

main {
  background-color: #F1F3F5;
  padding: 80px 0 20px 0;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h3,
.nav_menu li {
  text-transform: uppercase;
}

section {
  width: 95%;
  margin: auto;
}

section div {
  width: 95%;
  margin: auto;
}

/* Title for each section of news */
.section_title {
  text-align: center;
  text-transform: uppercase;
}

.section_title::after {
  content: ' ';
  display: block;
  width: 100px;
  height: 2px;
  background-color: var(--font-color);
  margin: 20px auto;
}

footer {
  text-align: center;
  background-color: var(--responsive-nav-color);
}

.top-stories h1 {
  padding-top: 20px;
}

.nav_title,
.section_title,
.card_category,
.list {
  font-family: 'News Cycle', sans-serif;
  color: var(--font-color);
}

.hide {
  max-height: 0;
  overflow: hidden;
}

/********** Card Styling **********/

/* container for cards */
.section_card_container {
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 1px var(--border-color), -1px -1px  1px var(--border-color);
  max-width: 471px;
  height: 75vh;
  max-height: 900px;
  margin-bottom: 20px;
}

/* holds all information */
.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: ;
  align-items: center;
  overflow: hidden;
}

/* title at top of card */
.card_category {
  margin: 2.5%;
  align-self: flex-start;
}

/* image inside card */
.card_image {
  display: block;
  width: 95%;
  height: 40vh;
  max-height: 500px;
  border-radius: 5px;
}

/* container for information under image */
.card_title_container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  flex-grow: 2;
}

.card_title_container a {
  font-size: 1.5em;
  font-family: 'Noto Sans', sans-serif;
  color: #6666ff;
}

/* card_subtitle is secondary info under headline */
.card_subtitle,
.card_date_source {
  font-family: 'Noto Sans', sans-serif;
  color: var(--font-color);
}

/* date of article and news source */
.card_date_source {
  margin-top: auto;
  padding-bottom: 10px;
}

.card_date_source li {
  display: inline-block;
}

.card_date_source li:first-child {
  border-right: 1px solid black;
  padding-right: 5px;
}

.card_date_source li:nth-child(2) {

}




/********** Navigation *********/

header {
  overflow: hidden;
  position: fixed;
  width: 100%;
  max-height: 80px;
  top: 0;
  background-color: var(--responsive-nav-color);
  border-bottom: 1px solid var(--border-color);
  transition: max-height .3s ease-in-out;
}

nav {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_title,
.nav_menu_toggle_container {
  margin: 20px 0;
}

/* container for hamburger */
.nav_menu_toggle_container {
  height: 40px;
  width: 40px;
}

.nav_menu {
  background-color: rgba(0,0,0,0.8);
  height: 100vh;
  width: 70vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
}

/* container for "x" to close nav menu */
.menu_close_container {
  height: 32px;
  width: 32px;
  border: 1px solid var(--responsive-nav-color);
  border-radius: 2px;
  position: absolute;
  top: 5%;
  right: 10%;
}

.menu_close_container:hover {
  cursor: pointer;
  background-color: #fffff0;
}

.menu_close_container:hover > .menu_close,
.menu_close_container:hover > .menu_close::before {
  background-color: black;
}

/* links inside navigation */
.nav_list {
  width:80% ;
  text-align: center;
}


.nav_menu li {
  color: var(--responsive-nav-color);
  font-size: 1.5em;
  padding: 1px;
  text-transform: uppercase;
  border: 1px solid var(--responsive-nav-color);
  border-bottom: none;
}

.nav_menu li a {
  display: block;
  padding: 1em;
  color: var(--responsive-nav-color);
}

.nav_menu li:hover {
  background-color: #fffff0;
}

.nav_menu li a:hover {
  color: black;
}

.nav_menu li:last-child {
  border-bottom: 1px solid var(--responsive-nav-color);
}

/* construction for 'x' */
.menu_close,
.menu_close::before {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--responsive-nav-color);
}

/* rotation and styling to make 'x' */
.menu_close {
  transform: translateY(13.5px) translateX(-5px) rotate(45deg) ;
}

.menu_close::before {
  transform: rotate(-90deg);
}

/* construction of hamburger */
.hamburger_menu_icon,
.hamburger_menu_icon::before,
.hamburger_menu_icon::after {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  background-color: black;
}

.hamburger_menu_icon{
  transform: translateY(10px);
}

.hamburger_menu_icon::after{
  transform: translateY(15px);
}

.hamburger_menu_icon::before{
  transform: translateY(9px);
}


/********** Media Queries *********/
/**********               *********/

/********** Height **********/

@media only screen and (max-height: 850px) {
  .section_card_container {
    height: auto;
  }

  .menu_close_container {
    top: 3%;
  }
  .nav_menu li {
    padding: 5px;
    font-size: 1rem;
  }
  .nav_menu li a {
    display: block;
    padding: 1em;
  }
}



/********** Width ***********/

@media only screen and (max-width: 360px) {
  .nav_menu li {
    padding: 5px;
    font-size: 1rem;
  }
  .responsive-nav-menu ul {
      position: absolute;
      right: 25px;
      top: 40px;
  }
}
@media only screen and (max-width: 999px) {
  .nav_menu  {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {

  /********** Desktop Navigation *********/

  .nav_menu_toggle_container,
  .menu_close_container {
    display: none;
  }

  nav {
    width: 95%;

  }

  .nav_menu {
    display: flex;
    position: static;
    background-color: white;
    height: auto;
    width: auto;
  }

  .nav_menu ul {
    display: flex;
    justify-content: space-around;
    width: 700px;
  }


  .nav_menu li {
    display: inline-block;
    color: var(--font-color);
    font-size: 1em;
    text-transform: uppercase;
    border: none;
    border-bottom: none;
    margin: 0px;
    padding: 0;
  }

  .nav_menu li:hover {
    transform: scale(1.1);
  }

  .nav_menu li:last-child {
    border-bottom: none;
  }

  .nav_menu li a {
    color: var(--font-color);
    margin: 0;
    padding: 0;
  }

  .nav_menu li:hover {
    background-color: var(--responsive-nav-color);
  }

  /********** Main Sections **********/

/* containers for different news sections  */
    section div {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
  }

  .section_card_container {
    width: 49%;
    min-width: 450px;
    height: 75vh;
    min-height: 700px;
    overflow: hidden;
  }

  footer {
    text-align: center;
  }

  footer p {
    margin-left: 10px;
  }

  footer h1 {
    margin-right: 10px;
  }

  footer p,
  footer h1 {
    display: inline-block;
  }



}

@media only screen and (min-width: 1500px) {

/* containers for different news sections */
 section div {
   max-width: 1500px;
  }
  .section_card_container {
    width: 471px;

  }
}
